body {
    background-image: url("space.jpg");
    background-repeat:no-repeat;
    background-size: cover;
   }

#gameDiv{
    border: 5px solid orange;
    border-radius: 25px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: auto;
}

.choiceBtn{
   color: transparent;
   background-color: transparent;
   width: 100px;

}

img{
    background-color: white;
}

#playerText{
    color: orangered;
}

#resultText{
    color: orangered;
}

#computerText{
    color: orangered;
}
